* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "San Francisco", arial, sans-serif;
    /* background-color: #343A42; */
  }

  .banner{
    background-image: url(../assets/banner.png);
    height: 20vw;
    min-height: 100px;
    background-attachment: fixed ;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100%;
}

nav{
    background-color: #2c3034;
    display: flex;
    align-items: center;
}

nav .menu-btn{
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 10px 10px;
    text-align: center; 
    font-size: larger;
    margin-right: 20px;
}
nav .menu-btn1{
  color: white;
  text-decoration: none;
  font-weight: bold;
  padding: 10px 10px;
  text-align: center; 
  font-size: larger;
  margin-right: 20px;
  cursor: default;
  background-color: #775765;
  border-radius: 100px;
}

nav .menu-btn:hover{
    background-color: #ddd;
    border-radius: 10%;
    color: purple;
}

.flex-align-right{
    margin-left: auto;
}

.content h2{
    text-align: center;
    background: rgb(73, 73, 80);
    background: linear-gradient(90deg, rgba(157,157,162,0.9838060224089635) 0%, rgba(214,214,241,1) 70%, rgba(189,190,190,1) 100%);
    padding: 10px 35px;

}

* { box-sizing: border-box; }

body { font-family: sans-serif; }

.carousel {
  background: #EEE;
  border: solid 10px ;
  background: black;
}

.carousel-cell {
  width: 33%;
  height: 500px;
  margin-right: 5px;
  background: black;
  border-radius: 5px;
  justify-content: space-evenly;
  background-size: cover;
}

img{
    height: 500px;
}

.artist h2{
    text-align: center;
    background: rgb(73, 73, 80);
    background: linear-gradient(90deg, rgba(157,157,162,0.9838060224089635) 0%, rgba(214,214,241,1) 70%, rgba(189,190,190,1) 100%);
    padding-top: 10px;
    padding-bottom: 10px;
    /* margin-bottom: 40px; */


}

.artist{
    background-color: #1a2734;
    padding-bottom: 20px;
    /* background: rgb(73, 73, 80);
    background: linear-gradient(90deg, rgba(157,157,162,0.9838060224089635) 0%, rgba(214,214,241,1) 70%, rgba(189,190,190,1) 100%); */
}
.artist img{
    height: 300px;
    border-radius: 1000px;
    border: lightblue 5px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 20px;
    
}
.artist h3{
    text-align: center;
    padding: 10px;
    color: wheat;
    
}

.handle{
    display: flex;
    justify-content: center;
}

.handle a{
    padding: 10px 15px;
    border-radius: 30px;
    margin: 5px 10px;
    /* background-color: rgb(125 125 125 / 25%); */
    text-decoration: none;
    background-color: #383333;
}

.handle a:hover {
    background-color: rgb(30 30 30 / 25%);
  }

  .handle a i {
    margin: 5px;
  }
  .yt_handle {
    color: #e62117;
  }
  
  .linkdn_handle {
    color: #0e76a8;
  }

  .moj_handle {
    color: #d9ff04;
  }
  
  .insta_handle {
    color: #dd2a7b;
  }
  
  footer {
    display: flex;
    overflow: hidden;
    /* Hide overflow */
    background-color: #2c3034;

    
    /* Dark background color */
  }
  
  footer a {
    
    /* Make sure that the links stay side-by-side */
    display: block;
    /* Change the display to block, for responsive reasons (see below) */
    color: white;
    /* White text color */
    text-align: center;
    /* Center the text */
    padding: 14px 20px;
    /* Add some padding */
    text-decoration: none;
    width: 600px;
    margin: auto;
    /* Remove underline */
  }
  
  .copyright {
    color: #fff;
    /* to align item to left */
    margin-left: auto;
    padding-right: 15px;
  }

  .pricing img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }

  .pricing{
    background-color: black;
  }















@media screen and (max-width: 700px ){ 
    nav{
    flex-direction: column;
    padding: 10px 0px;
    }

    .flex-align-right{
       margin-left: 0;
    }
}